apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: nid-frontend-hpa
  namespace: nid
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: nid-frontend

  # Frontend è meno CPU-intensive — scala meno aggressivamente
  minReplicas: 2
  maxReplicas: 5

  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80

  behavior:
    scaleUp:
      stabilizationWindowSeconds: 15
      policies:
        - type: Pods
          value: 2
          periodSeconds: 15
    scaleDown:
      stabilizationWindowSeconds: 180
      policies:
        - type: Pods
          value: 1
          periodSeconds: 120